<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.pierre.mac-bing-wallpaper</string>
		<key>StandardErrorPath</key>
		<string>/tmp/com.pierre.mac-bing-wallpaper.err</string>
		<key>StandardOutPath</key>
		<string>/tmp/com.pierre.mac-bing-wallpaper.out</string>
		<key>ProgramArguments</key>
		<array>
			<string>/bin/sh</string>
			<string>-c</string>
			<string>~/bin/mac-bing-wallpaper.sh</string>
		</array>	
        <key>RunAtLoad</key>
		<true/>
        <key>StartInterval</key>
        <integer>600</integer>
	</dict>
</plist>